#distrib {
    background-color: rgb(255, 190, 10);
    font-size: 25px;
}

#poisson {
    background-color: rgb(127, 193, 255);
    font-size: 2rem;
}

#form {
    font-size: 2rem;
}

#listicket {
    background-color: rgb(127, 193, 255);
    font-size: 2rem;
}

